 <%- include('../partial/header') -%>
     <%- include('sidebar') -%>

        <div class="main container">
            <br>
            <div class="text-lg-left">
                <p>Add Custom Fields</p>
            </div>
            <hr>
            <form action="/api/admin/addcustom" method="post">
                        <div class="form-group">
                            <div class="field-wrap">
                                <label for="pass-input" class="sr-only"> Custom Attributes
                                </label>
                                <input type="text" name='attribute' class="form-control" placeholder="Custom Attribute" id="num-input" required autocomplete="off" required />
                            </div>
                        </div>
                        <button type=submit class="btn btn-primary button" >Submit</button>
            </form>
        </div>

        </body>
        </html>
