<%- include('../partial/header') -%>
<%- include('sidebar') -%>


<div class="main">
  <a href="/api/admin/userDept" class="btn">Users by department</a>
  <a href="/api/admin/userJob" class="btn">Users by Job Title</a>
  <a href="/api/admin/userPay" class="btn">Users by Paygrade</a>   
</div>

    </body>
</html>