<%- include('../partial/header') -%>
<%- include('sidebar') -%>

<br>
<div class="main container-fluid">
  <div class="row">
    <div class="col-md-1">
      
    </div>
    <div class="col-md-3">
      <a href="/api/admin/userDept" class="btn btn-outline-primary btn-block">Users by Department</a>
    </div>
    <div class="col-md-3">
      <a href="/api/admin/userJob" class="btn btn-outline-secondary btn-block">Users by Job Title</a>
    </div>
    <div class="col-md-3">
      <a href="/api/admin/userPay" class="btn btn-outline-info btn-block">Users by Paygrade</a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-2">
      
    </div>
    <div class="col-md-3">
      <a href="/api/admin/userLeaves" class="btn btn-outline-primary btn-block">Leaves taken by Employees</a>
    </div>
    
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
      <a href="/api/admin/userCustom" class="btn btn-outline-info btn-block">Employees by Custom Fields</a>
    </div>
  </div>
</div>

    </body>
</html>