 <%- include('../partial/header') -%>
     <%- include('sidebar') -%>

            <div class="main container-fluid">
                <div class="alert text-lg-left">
                    Add Additional Information
                </div>
            <hr>
                <div class="row">
                    <div class="col-md-4" style="margin-left: 0.5%;">

                        <% if (results.length > 0) {%>
                        <form action="/api/user/additionaldet" method="post">
                            <div class="form-group">  
                                <% results.forEach(function(result, index){ %>
                                <label><%=result.custom_attr%></label>
                                <input name="<%=result.id%>" class="form-control"></input>
                                <% }) %>
                            </div> 
                            <button type='submit' class="btn btn-primary" >Submit</button>
                        </form>

                        
                            <% } else { %>
                                <p class="text-center">No custom attr found.</p>
                            <% } %>
                    </div>
                </div>
            </div>

        </body>
        </html>
