<%- include('../partial/header') -%>
    <%- include('sidebar') -%>

    <div class="main container-fluid">
        <br>
        <div class="alert alert-heading alert-info">
          <h1 class="h3">Dashboard</h1>
          <hr>
          <div class="lead">Welcome <%= id %> User!</div>
        </div>
      </div>

    </body>

</html>