<%- include('../partial/header') -%>
    <%- include('sidebar') -%>

        <div class="main">
            <h2> User</h2>
            <p>This sidebar is of full height (100%) and always shown.</p>
            <p>Scroll down the page to see the result.</p>
            <p>Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
        </div>

        </body>

        </html>