<%- include('../partial/header') -%>
<%- include('sidebar') -%>





   <div class="main">
   <b><h1 style="font-size:xx-large;"></h1></b>
       <h2> Request a Leave</h2>
       <form action="/api/user/reqLeave" method="post">
                   <div class="form-group">
                       <div class="field-wrap"></label>
                        <select class="custom-select d-block w-100" id="leavetype" name="leavetype" required>
                            <option value="" selected disabled hidden>Choose Leave Type</option>
                            <option value="Annual">Annual</option>
                            <option value="Casual">Casual</option>
                            <option value="Maternity">Maternity</option>
                            <option value="No Pay">No Pay</option>
                        </select>
        
                   </div>
                   <br>
                   <div class="form-group">
                       <div class="field-wrap">
                           <label for="pass-input" class="sr-only"> Leave Detail
                           </label>
                           <input type="text" name='detail' class="form-control" placeholder="Leave Detail" id="detail-input" required autocomplete="off" required />
                       </div>
                   </div>
                   <div class="form-group">
                    <div class="field-wrap">
                        <label for="pass-input" class="sr-only">Leave Date
                        </label>
                        <input type="date" name='leavedate' class="form-control" placeholder="Leave Date YYYY-MM-DD" id="date-input" required autocomplete="off" required />
                    </div>
                </div>
                   <button type=submit class="btn btn-primary button btn-block" >Submit</button>
       </form>
   </div>

   </body>
   </html>
