 <html>
     <head>
         <link rel="stylesheet" href="">
     </head>
    <body>
         <div id="login">
            <h1>Employee Management</h1>
            <form action="/login" method="post">

                <div class="field-wrap">
                    <label>
                        User ID<span class="req">*</span>
                    </label>
                    <input type="text" name='user_id' required autocomplete="off" />
                </div>

                <div class="field-wrap">
                    <label>
                        Password<span class="req">*</span>
                    </label>
                    <input type="password" name='password' required autocomplete="off" />
                </div>
                <button type=sumbit class="button button-block">Log In</button>

            </form>

        </div>
    </body>
</html>