 <%- include('../partial/header') -%>
     <%- include('sidebar') -%>

        <div class="main container-fluid">
            <div class="text-lg-left alert">
                Add Emergnecy Contact Details
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <form action="/api/sm/saveEmDet" method="post" style="margin-left: 1em;"> 
                                <div class="form-group">
                                    <div class="field-wrap">
                                        <label for="id-input" class="sr-only">Full Name</label>
                                        <input type="text" name='fullname' class="form-control col-md-4" placeholder="Name" id="name-input" required autocomplete="off" required autofocus />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="field-wrap">
                                        <label for="pass-input" class="sr-only"> Contact Number
                                        </label>
                                        <input type="text" name='contactnum' class="form-control col-md-4" placeholder="Contact Number" id="num-input" required autocomplete="off" required />
                                    </div>
                                </div>
                                <button type=submit class="btn btn-primary" >Submit</button>
                    </form>
                </div>
            </div>
        </div>

        </body>
        </html>
