<nav id="sidebar">
    <div class="sidebar-header">
        <a>Dashboard</a>
    </div>

    <ul class="list-unstyled components">
        <!--Dashboard-->
        <li class="active">
            <a href="home.php"><i class="fa fa-tachometer" aria-hidden="true"></i>&nbsp;Dashboard</a>
        </li>
        <li>
            <!--Product management-->
            <a href="#pageSubmenu8" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                    class="fa fa-shopping-bag" aria-hidden="true"></i>&nbsp;All Users</a>
            <ul class="collapse list-unstyled" id="pageSubmenu8">
                <li>
                    <a href="newproduct.php">New Product</a>
                </li>
                <li>
                    <a href="viewproduct.php">View</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>